body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding: 3px;
  font-size: large;
  color: white;
  transition: background-color 0.3s ease;
}

.navBar:hover {
  background-color: white !important;
  color: black !important;
  border-bottom: 1px solid black !important;
  filter: invert(0%) !important;
}

.navBar:hover img {
  filter: invert(0%) !important;
}

.navBar img {
  height: 35px;
  width: 35px;
  transition: opacity 0.3s ease;
}

.navBar_categories a {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navBar_categories a:hover {
  text-decoration: underline;
}

.searchIcon {
  height: 20px !important;
  width: 20px !important;
  position: relative;
  top: 3px;
  margin-left: 5px;
  margin-right: -3px;
  filter: invert(100%);
}

.cartIcon, .accountIcon {
  filter: invert(100%);
}

.navName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  cursor: pointer;
  position: relative;
  margin-right: 10%;
  text-decoration: none;
  color: inherit;
}

.navTab {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.account, .myCart {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.myCart p, .account p {
  margin-left: 6px;
}

.account:hover, .myCart:hover {
  border: 1px solid black;
  height: 100%;
}

.searchBar {
  width: 400px;
  height: 20px;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube-player {
  pointer-events: none;
}

.menPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px 40px 0px;
}

.menPhoto_description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 60px;
  color: white;
  background-image: url(https://t4.ftcdn.net/jpg/00/95/66/97/360_F_95669744_SME4GdzkU9o2s7TIchZdHz82SouPZSrs.jpg);
  height: 800px;
  width: 500px;
}

.womenPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
}

.womenPhoto_description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  background-image: url(https://i.pinimg.com/originals/9f/0e/ba/9f0eba47d200c122434fa3c640f5d1ab.jpg);
  height: 800px;
  width: 500px;
}

.termsOfService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.tos_shop_title {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.tos_shop_category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.tos_shop_category a {
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
}

.tos_shop_men:hover, .tos_shop_women:hover,
.tos_shop_electronics:hover, .tos_shop_jewleries:hover,
.shopping_products a:hover, .cartItem_delete:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tos_socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 200px;
  transition: opacity 0.3s ease;
}

.tos_description {
  text-align: center;
  font-size: small;
  width: 600px;
}

.tos_logo {
  margin: 20px 20px 40px 20px;
}

.tos_instagram:hover, .tos_tiktok:hover, .tos_youtube:hover, 
.tos_facebook:hover, .tos_logo:hover, .accountIcon:hover, 
.cartIcon:hover, .searchIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping_img {
  width: 100%;
}

.shopping_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 15px 0px 0px 0px;
  width: 100%;
}

.shopping_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 200px;
  margin-left: 15px;
  padding: 10px 10px 0px 10px;
}

.shopping_products h3 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.shopping_products a {
  margin-bottom: 15px;
}

.shopping_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  grid-gap: 10px;
  border: 1px solid black;
  width: 1600px;
}

.shopping_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: 0px 15px 15px 15px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.shopping_item_photo {
  align-self: center;
  margin-left: 5px;
}

.enlarged_shopping_item {
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  transform: scaleX(1.8) scaleY(1.2);
}

.shopping_item_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.enlarged_shopping_item_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scaleX(0.80) scaleY(1);
}

.shopping_item_scrollbar {
  overflow: auto;
  width: 290px;
  height: 400px;
  padding-right: 10px;
}

.shopping_item_name {
  text-align: center;
  margin: 10px 0px 5px 0px;
}

.shopping_item_rating_price {
  display: flex;
  justify-content: space-between;
}

.shopping_item_rating_price p {
  margin: 5px 0px 5px 0px;
}

.enlarged_shopping_item_addCart_price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.enlarged_shopping_item_addCart_price button {
  height: 80%;
  width: 60%;
  border-radius: 9px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.enlarged_shopping_item_addCart_price button:hover, .cart_order_button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.shopping_item_rating {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shopping_item_colors {
  display: flex;
  align-items: center;

}

.shopping_item_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.shopping_item_size_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping_item_size {
  padding: 10px;
  width: 60%;
  cursor: pointer;
  border-radius: 9px;
}

.shopping_item_size option {
  font-size: large;
  /* cursor: pointer; */
}

.shopping_item_quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
  width: 20%;
  border-radius: 9px;
}

.shopping_item_quantity input{
  width: 15px;
  border: none;
  pointer-events: none;
  text-align: center;
}

.shopping_item_quantity button{
  border: none;
  background-color: white;
  cursor: pointer;
}

.cart_description {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0px 33px 0px;
}

.cart_list {
  border: 1px solid black;
  padding: 0px 40px 0px 40px;
  width: 75%;
}

.cart_list h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 0.83em;
  margin-bottom: 0;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0.83em 0em 0.83em 0em;
}

.cartItem_description {
  display: flex;
}

.cartItem_description img {
  margin-right: 20px;
}

.cartItem_summary p {
  margin: 0px 0px 10px 0px;
  color: gray;
}

.cartItem_price {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  margin-top: 16px;
  width: 25%;
}

.cart_order_summary {
  margin-left: 100px;
  padding: 0px 40px 0px 40px;
  height: 350px;
  width: 25%;
  border: 1px solid black;
}

.cart_order_summary div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.cart_order_summary div p {
  margin: 0px;
}

.cart_items_price {
  border-top: 1px solid gray;
  padding-top: 0.83em;
}

.cart_total_price {
  border-top: 1px solid gray;
  margin-top: 0.83em;
}

.cart_divider {
  border-bottom: 1px solid gray;
  margin: 0 10% 0.83em 10% !important;
  width: 80%;
}

.cart_list_subtotal {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px 0 20px 0;
  font-size: large;
}

.cart_list_subtotal p {
  margin: 0;
}

.cart_list_subtotal_number {
  font-weight: bold;
}

.cart_order_button {
  width: 100%;
  height: 13%;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.account_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://as2.ftcdn.net/v2/jpg/00/84/72/81/1000_F_84728133_SUB7ReZUbgvhRnOC6hXs7ENtC3ky5TSO.jpg);
}

.account_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.account_user_pw {
  width: 70%;
}

.account_user_pw form {
  margin: 20px 0px 20px 0px;
}

.account_user_pw form input {
  margin-top: 5px;
  width: 94%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px 3% 0px 3%;
}

.account_3rd_party {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.account_summary h1 {
  display: flex;
  justify-content: center;
}

.account_summary button {
  margin-top: 90px;
}

#account_login_btn {
  height: 18%;
  width: 100%;
}

.account_settings {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.account_settings div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.account_settings div form{
  display: flex;
  justify-content: space-between;
  width: 80%;
}